$_fontColor: #70757a;
$_fontFamily: "PT Sans", sans-serif;

$_bordersColor: #dadce0;

$_boxShadow: 0 0 10px rgba(0, 0, 0, 0.5);


$_mobileSizeLimit: 360px;
$_tableSizeLimit: 760px;
$_desktopSizeLimit: 1250px;

$_navigationLinkColor: #1a73e8;

$_borderColor: #dadce0;

$_stickyHeaderZindex: 100;
$_currentTimeMarkZindex: 99;
$_calendarTaskZindex: 10;
$_planFactZindex: 101;
