@font-face {
    font-family: "PT Sans";
    src : url("./fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("./fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("ttf"),
    url("./fonts/PTSans/PTSansRegular/PTSansRegular.eot") format("eot");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    src : url("./fonts/PTSans/PTSansBold/PTSansBold.woff");
}

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
    font-family: $_fontFamily;
}
