.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px 20px;
}

.title {
    color: $_fontColor;
    margin-bottom: 15px;
    text-align: center;
}

.form-input {
    margin-bottom: 10px;
}

.buttonsWrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
